
.btn{
  display: inline-flex;
  padding: 10px 15px 10px 15px;
  border-radius: rem(4);
  font-size: rem(16);
  justify-content: center;
  align-items: center;
 
}

.btn--warm{
  min-width: rem(160);
  background-color: $colorWarm;
  line-height: em(20);
  font-weight: 700;
  color: $colorMain;
}
.btn--Nwarm{
  background-color: $colorNlight;
}
.btn--Lwarm{
  background-color: $colorHlight;
}