//**************Основные******************/
$colorBlack:#000000;
$colorDark:#333333;
$colorGray:#e5e5e5;
$colorGrayLight:#f2f2f2;
$colorWhite:#FFFFFF;
//**************Дополнительные******************/
$colorWarm:#756257;
$colorNlight:#7DB54F;
$colorHlight:#83B3D3;
$colorHsllight:hsl(204 48% 67% / 0.2);
$colorWarmDark:#615048;
$colorWarmNDark:#6C9E42;
$colorWarmHDark:#68A2CA;
$colorWarmHslDark:hsl(204 48% 67% / 0.12);

//**************Статус******************/
$colorError:#FF5757;
$colorWarning:#FD922E;
$colorSuccess:#7DB550;
//**************Статус******************/
$colorMain:#ffff;
$colorbtn:#464343;
$color-text:#FFFFFF;
$colorBg:#212529;



//**************Настройка текста******************/
$fontfamily:'PT Sans', sans-serif;
$basesize:rem(18),;
//**************Брэк поинты******************/
$laptop: em(1024);
$tablet: em(991.98);
$mobile:em(767.98) ;
$mobileL: em(479.98);
$mobileM: em(425.98);
$mobileS:em(375.98);
//**************Настройка контейнера******************/
$maxWidthContainer:  em(1230);
$containerPadding: 0  em(15);
  $containerMargin: 0 auto;


