//**************Основные цвета******************/
$colormain:#000000;
$colorbtn:#464343;
$colorblockav:#C4C4C4;
$colorblock: #F2E9E4;
$color-text:#FFFFFF;
$colorBg:#212529;
//**************Настройка текста******************/
$fontfamily:'Poppins', sans-serif;
$basesize:1rem,;
//**************Брэк поинты******************/
$tablet: 61.99875em;
$mobile:47.99875em ;
$mobileS: 29.99875em;
$mobilelS: 23.56125em;
//**************Настройка контейнера******************/
$maxWidthContainer:  89.375em;
$containerPadding: 0  0.9375em;
  $containerMargin: 0 auto;


