.header {

  &__container {
  }

  &__body {
    display: flex;
    
  }

  &__logo {
    margin: 0px rem(47) 0px 0px;
  }

  &__menu {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
  }
}
.logo {
}
.menu {

  &__body {

  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    &:not(:last-child){
      margin: 0px rem(34) 0px 0px;
    }
  }

  &__link {
  }

  &__right {
  }
}
.right-menu {
  margin-left: auto;


  &__list {
    display: flex;
    align-items: center;

  }

  &__item {
    &:not(:last-child){
      margin: 0px rem(20) 0px 0px;
    }
  }
}
.btn-search {
}
.btn-favorites {
}
