.page-main {
 
  &__inner {
    position: relative;
    min-height: 100vh;
    margin-bottom: 125px;
  }

  &__about {
    margin-bottom: 125px;
  }

  &__portfolio {
  }

  &__services {
  }

  &__contact {
  }
}
.inner {

  &__container {
  }

  &__title {
    position: relative;
    color:$color-text;
    z-index: 40;
    padding: 222px 0px 100px 0px;
    font-size: 60px;
    max-width: 460px;
    letter-spacing: 0.3125rem;
    line-height: 150%;
    font-weight: bold;
  
  }

  &__image-bg {
    img{
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      object-fit: cover;
    }
  }
}
.about {

  &__container {
  }

  &__body {
    display: flex;
    background-color: $colorblockav;
  }

  &__column-photo {
    position: relative;
  flex: 0 0 27%;
  overflow: hidden;
  img{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
  
  }
  }

  &__column {
    flex: 1 1 auto;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 69px 70px 44px 50px;
  }

  &__title {
    font-weight: bold;
    font-size: 80px;
    line-height: 100%;
    &:not(:last-child){
      margin-bottom: 44px;
    }
  }

  &__subtitle {
    font-weight: bold;
    max-width: 700px;
    font-size: 34px;
    line-height: calc(45/34*100%);
  }

  &__button {
    margin-bottom: 36px;
    display: flex;
    flex-direction: row-reverse;
    padding-right: 71px;
  }
}
.btn {
  display: inline-block;
  padding: 30px 75px 30px 75px;
  background-color: $colormain;
  color: $color-text;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: calc(20/35*100%);
  border-radius: 10px;
  transition: all 0.4s ease;
  &:hover{
    background-color: rgb(38, 41, 41);
  transition: all 0.4s ease;
  color: rgb(192, 108, 153);
  }
}
.portfolio {

  &__container {
  }

  &__title {
  }

  &__gallery {
  }

  &__button {
  }

  &__btn {
  }
}
.gallery {

  &__item {
  }
}
.services {

  &__container {
  }

  &__body {
  }

  &__item-card {
  }
}
.service {

  &__title {
  }
}
.item-card-service {

  &__text {
  }

  &__title {
  }

  &__image {
  }

  &__link {
  }
}
.fullimg {
}
.contact {

  &__container {
  }

  &__body {
  }

  &__heading {
  }

  &__content {
  }

  &__about-me {
  }

  &__title {
  }

  &__subtitle {
  }

  &__contacts {
  }
}
.contacts {

  &__phone {
  }

  &__mail {
  }
}
